@import url(../component/style/global_var.css);

label{
    margin-bottom: 0;
}
#Orders_container{
    width:calc(100vw - var(--navbar-width));
    height: 100vh;
    
    font-family:var(--primary-font);

    background-image: var(--bg-image);
}
#Orders_title{
    font-size: 45px;
    font-weight: bold;
}
#Orders_search_box{
    font-size: 20px !important;
    
}


#Orders_table{
    background-color: cornflowerblue;
    
    border-radius: 10px;

    font-size: var(--ordertable-fontsize);
    text-align: center;
}
#Orders_btns div{
    width:70vw;
    
}

@media screen and (min-width: 300px){
    :root{


    }
}
@media screen and (min-width: 350px){
    :root{

        
        
    }
    
}
@media screen and (min-width: 400px){
    
}
@media screen and (min-width: 600px){
    
}
@media screen and (min-width: 767px){
    
}
@media screen and (min-width: 1023px){
    :root{

        
    }
}
@media screen and (min-width: 1500px){
    
}




