@import url(../component/style/global_var.css);

#Reply_container{
    
    width:calc(100vw - var(--navbar-width));
    height: 100vh;
    
    font-family:var(--primary-font);

    background-image: var(--bg-image);
}

#Reply_title{
    font-size: 45px;
    font-weight: bold;
}

