#SellerCheck_container {
    font-family:'Noto Sans TC',Arial,sans-serif;
    width:calc(100vw - 100px);
    height: 100vh;
    /* position: relative; */
    top:0;
    /* margin-top:-3vh; */
    /* display: inline; */
    background-image: linear-gradient(150deg,wheat,white);
}

#SellerCheck_title{
    font-size: 45px;
    font-weight: bold;
}

#SellerCheck_table{
    background-color: cornflowerblue;
    position: absolute;
    width:80vw;
    border-radius: 10px;

    top:20%;
    left: calc(50% - 40vw);

    text-align: center;
    font-size: 20px;
}

 /* .sellerStateBar_class:hover ul {
    opacity: 1;
    left: 50% ;
}

.sellerStateBar_class ul {
    width: 40vw ;
    color: white;
    background-color: black;
    margin: 0;
    padding: 0;
    list-style: none;
    opacity: 0;
    position: absolute;
    left: -999999px;
    transition: opacity 0.5s;
    border-radius: 0 5px 10px 10px;
}  */
