:root{

    /* --navbar-width: 5rem; */
    --bg-image : linear-gradient(150deg,wheat,white);
    --primary-font: 'Noto Sans TC',Arial,sans-serif;
}

@media screen and (min-width: 300px){
    :root{

        --navbar-width: 5rem;

    }
}
@media screen and (min-width: 350px){
    :root{

        --navbar-width: 6rem;
        
    }
    
}
@media screen and (min-width: 400px){
    
}
@media screen and (min-width: 600px){
    
}
@media screen and (min-width: 767px){
    
}
@media screen and (min-width: 1023px){
    
}
@media screen and (min-width: 1500px){
    
}